.tituloPagDestaques{
    padding-left: 10px;
    font-weight: bolder;
    
}

#checkboxes label {
    float: left;
    min-width: 100px;
    margin-right: 20px;
  }
  #checkboxes ul {
    margin: 0;
    list-style: none;
    float: left;
  }
