.tituloPagDestaques{
    padding-left: 10px;
    font-weight: bolder;
    
}

#checkboxes label {
    float: left;
    min-width: 100px;
    margin-right: 20px;
    cursor: pointer;
    
  }
  #checkboxes ul {
    margin: 0;
    list-style: none;
    float: left;
    display: flex;
    cursor: pointer;
    
  }
  
  .filtroo{
   margin-top: 100px;
  margin-left: 30px;
    

    float: left;
    
  }