.contador-pag-produto{
    width: 100px;
    margin-left: 120px;
}
.contador-btn{
    width: 80%;
    height: 55%;
    border-radius:20px;
    color: black ;
    font-weight: bold;
}
.contador-btn:hover{
    color: black;
    cursor: pointer;
}