.pagamentoCaixa{
    font-weight:400;
    font-size:14px;
    
}
.pagamentoCartao{
    display: block;
  max-width:24px;
  max-height:24px;
  width: auto;
  height: auto;
}

.imgPIXFinal{
  margin-left: 26px;
}

.textoQRCode{
  font-size: 14px;
  padding-left: 27px;
  margin-top: -10px;
  
}

.btnQRCode{
  background-color: #8D733F;
  color: white;
  margin-left: 65px;
}
.btnQRCode:hover{
  color: white;
  background-color: #686760;
}

