.icone-cerveja-produtos{
    border: none;
    color: #F4D529 ;
}

.cervejas-produtos{
 margin-left: 30px;
}

.produtos-encontrados{
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: normal;
}