@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');


.navPrincipal{
    font-family: 'MedievalSharp', cursive;
}

.logo{
    width: 150px;    
    
}
.form-control{
    
    font-family: 'MedievalSharp', cursive;
    background: #fff!important;
    font-size: 13px;
    width: 400px;
    height: 45px;
    
}


.nav-item{
    list-style-type: none;
}



#carrinho{
    width: 50px;
     
}

.header-FC img{
    width: 30%;
    margin-top: 30px;
    margin-left: 30px;
    
}

.header-conta img{
    width: 30%;
    margin-top: 30px;
    margin-left: 30px;
}
.header-Pedidos img{
    width: 30%;
    margin-top: 30px;
    margin-left: 30px;
}
.header-carrinho img{
    width: 45%;
    margin-top: 40px;
    margin-left: 10px;
}
.header-FC p{
    color: white;
    display: block !important;
}

.header-conta p{
    color: white;
    display: block !important;
}
.header-Pedidos p{
    color: white;
    display: block !important;
}
.header-carrinho p{
    color: white;
    display: block !important;
}
.header-logo{
    width: 100%;
}
.header-input{
    width: 80%;
    height: 45px;
    border-radius: 5px;
    border: none;
}
.header-pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header-busca{
    position: absolute;
    right: 60px;
}

.header-busca img{
    width: 25px;
}
.header-nav{
    width: 100%;
}


.icone{
    font-family: 'MedievalSharp', cursive;
    font-size: 14px;
    text-transform: none;
    letter-spacing: 0;
    color: white ;
    padding-top: 15px;
      
    display: block !important;
}
    




/* Lupa */
.custom-img {
    position: relative;
    top: 8px;
    left: -40px;  
}
/* Fim Lupa */


.col-8 {
    flex: 0 0 auto;
    width: auto;
}



 .link-icone{
    text-decoration: none;
 }

 .promo{
    text-decoration: none;
    padding-top: 13px;
 }



@media screen and (max-width: 700px) {
    .form-control {   
      width: 230px;
      height: 30px;
    }
    .custom-img {
        position: relative;
        top: 3px;
        left: -40px;  
        width: 20px;
        height: 20px;
    }
    .navbar-brand-link{
        display: none;
    }
    .header-FC {
        display: none;
    }    
    .header-conta img{
        width: 35px;
        margin-right: 10px;
               
       
    }
    .header-conta{
        margin-right: 30px;
    }

    .header-Pedidos {
        display: none;
    }
    .header-carrinho {
        width: 150px;
    }
    

  
  }

  @media (max-width:992px) {
    .navbar-brand-link{
        display: none;
    }
    .header-FC {
        display: none;
    }    
    .header-conta img{
        width: 35px;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
       
     
    }

    .header-conta p{
        
       margin-left: 10px;
       word-wrap: normal;
       font-size: 14px;
           
       
    }

    .header-conta {
        
        margin-left: -15px;
        flex-wrap: none;
            
        
     }
    .icone{
        padding-top: 0;
    }
    .header-conta{
        margin-right: 30px;
       
        right: 10px
    }

    .header-Pedidos {
        display: none;
    }
    .header-carrinho {
        width: 35px;
        margin-right: 100px;
        padding-left: 20px;
      
        right: 10px;
        margin-bottom: 10px;
       

    }
}


@media (max-width:860px) {
    .navbar-brand-link{
        display: none;
    }
    .header-FC {
        display: none;
    }    
    .header-conta img{
        width: 30px;
        margin-right: 20px;
        display: block;
        left:20px;
      
    }
    .form-control{
        width: 250px;
        height: 35px;
    }
    .header-conta{
        margin-right: 30px;
        display: flex;

    }

    .header-Pedidos {
        display: none;
    }
    .header-carrinho {
        width: 120px;
        display: flex;
       
        right: -80px;
        margin-bottom: 10px;
    }
}

@media (max-width:760px) {
    .navbar-brand-link{
        display: none;
    }
    .header-FC {
        display: none;
    }    
    .header-conta img{
        width: 30px;
        margin-right: 20px;
        display: block;
        left:20px;
      
    }
    .form-control{
        width: 250px;
        height: 35px;
    }
    .header-conta{
        margin-right: 8%;
        display: flex;

    }

    .header-Pedidos {
        display: none;
    }
    .header-carrinho {
        width:15%;
        display: flex;
       
        margin-bottom: 10px;
    }
}

@media (max-width:590px) {
    .navbar-brand-link{
        display: none;
    }
    .header-FC {
        display: none;
    }    
    .header-conta img{
        width: 30px;
        margin-right: 20px;
        display: block;
        left:20px;
      
    }
    .header-busca{
        width: 1px;
    }
    .form-control{
        width: 100px;
        height: 30px;
    }
    .header-conta{
        margin-right: 8%;
        display: flex;

    }

    .header-Pedidos {
        display: none;
    }
    .header-carrinho {
        width:15%;
        display: flex;
       
        margin-bottom: 10px;
    }
}