.btn-botao{
    background-color: #8D733F;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.btn-botao:hover{
    background-color: #8D733F;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}