/* .dashboard{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #000;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #000;
 
} */

.menu-super{
    font-size: 20px;

}
