.body-cart{
    background-color: #f7f7f7;
    height: 100%;
}


.btn-checkout {
    background-color: #EACF2B;
    color: black;
    border-bottom: 3px solid #D0A14C;
    font-weight: bold;
}

.btn-checkout:hover {
    background-color: #D0A14C;
}

.continuar-comprando-pedido{
   margin-left: 70px;
}
.div-pessoais{
    background-color: #ffffff;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 20px;
    max-height: 650px;
    position: relative;
    width: 350px;
    margin-top: 10px;
    display: flex;
    justify-content: right;
}

.div-entrega{
    background-color: #ffffff;
    box-sizing: border-box;
    padding-top: 10px;
    padding-right: 60px;
    max-height: 650px;
    position: relative;
    width: 400px;
    max-width: 400px;

    margin-top: 10px;
    display: flex;
    justify-content: right;
    
    margin-left: 10px;
}
.sub-global{
    margin-left: 30px;
}
.product-image{
    width: 25%!important;
}
.product-checkout-price {
    width: 22%;
    color: #2b2e33;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
  
}
.lista-checkout-total{
    text-align: left;
}
.overflow-resumo-pedido{
    overflow-y: auto;
    max-height: 250px;
    min-height: 115px;
}
.sub-total-frete{
    margin-left: 40px;
}
.titulo-quantidade-cart{ 
    font-weight: bold;
    font-size: 1.5em;
}
.quantidade-produto-checkout{
    width: 25%;
}
.finalizar-titulo{
    padding-top: 30px;
}
.div-resumo-pedido-checkout{
    background-color: #ffffff;
    box-sizing: border-box;
    padding: auto;
    max-height: 650px;
    position: relative;
    width: 350px;
    margin-top: 10px;
    display: flex;
    justify-content: right;
    margin-left: 10px;
}



#conteudo-cart-pedido{
    background-color: #ffffff;
    box-sizing: border-box;
   
    position: relative;
    font-size: 11px;
    align-items: center;
}
.div-resumo-pedido{
    padding-left: 30px;
}

.texto-total-frete-total-pedido{
    padding-left: 50px;
}

.botao-pedido-finalizar{
    margin-top: 30px;
   margin-left: 50px;
}

.btn-ir-pag{
    margin-top: 30px;
    border: #8D733F;
}
.btn-ir-pag:focus{
    margin-top: 30px;
    border: #8D733F;
}
.btn-ir-pag:hover{
    margin-top: 30px;
    border: #8D733F;
}



.input-validade{
    width: 100px;
}


.input-cep{
    width: 110px;
}

.input-numero{
    width: 80px;
}

.div-checkout{
    display: inline-flex;
}

@media only screen and (max-width: 1200px){
    .div-checkout{
        display: block;
    }
}


