.comprar{
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #070c90ef;
}
.btn-comprar{
    background-color: #EACF2B;
    border-bottom: 3px solid #d0a14c;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: black;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 0px;

}
.btn-comprar:hover{
    background-color: #d0a14c;
    border-bottom: 3px solid #d0a14c;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: black;
    font-weight: bold;
}

#botao-carrinho-produto{
    border: none;
 
}