.busca-ava{
    background-color: #4B4A42;
    margin-top: 5px;
    width: 50%;
    
}

.busc-avanc{
    color: white;
    padding-top: 10px;
}


/* .selectBuscaAvancada{
    
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 13px;
    width: 100%;
  
    
} */




/* .divSelect{
    width:100%;
    position: relative;
} */


.titulo-pesq{
    color:white;
    font-size: 30px;
    font-family: 'MedievalSharp', cursive;
}
.seletores{
    width:100%;
}

.btn-busca{
    background-color: #8D733F;
  color: #fff;
  font-weight: bold;
    padding: 10px 30px;
    margin-top:10px;
    margin-left: -25px;
    width: 150px;
    text-transform: uppercase;
    border:none;
    text-decoration: none;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn-busca:hover{
  color: white;
    background-color: #b6b3a0ab;
font-weight: bold;
  padding: 10px 30px;
  margin-top:10px;
  margin-left: -25px;
  width: 150px;
  text-transform: uppercase;
  border:none;
  text-decoration: none;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.selectBuscaAvancada {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    background-image: none;
    cursor: pointer;

    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 13px;
    width: 100%;
  }
  /* Remove IE arrow */
  .selectBuscaAvancada::-ms-expand {
    display: none;
  }
  /* Custom Select wrapper */
  .divSelect {
      
    width:100%;
    position: relative;
    display: flex;
    height: 2em;
    border-radius: .25em;
    overflow: hidden;
    
  }
  /* Arrow */
  .divSelect::after {
    color: #4B4A42;
    content: '\25BC';
    position: absolute;
    top: -10px;
    right: 0;
    padding: 1em;
    background-color: #8D733F;
    transition: .25s all ease;
    pointer-events: none;
    size: 10px;
  }
  /* Transition */
  .divSelect:hover::after {
    color: white;
    background-color: #4b4a42ab;
  }
  
 