.busca-ava{
    background-color: #232319;
    margin-top: 5px;
    width: 50%;
    
}


.titulo-pesq{
    color:white;
    font-size: 30px;
    font-family: 'MedievalSharp', cursive;
}
.seletores{
    width:100%;
}