.busca-ava{
    background-color: #4B4A42;
    margin-top: 5px;
    width: 50%;
    
}

.busc-avanc{
    color: white;
    padding-top: 10px;
}


.titulo-pesq{
    color:white;
    font-size: 30px;
    font-family: 'MedievalSharp', cursive;
}
.seletores{
    width:100%;
}