.card-qtd{
    display: block;
    height: 60px;
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.400);
    border-radius: 5px;
}
.img-produto img{
    width : 450px;
}


#botao-comprar-pag-produto{
  
   width: 300px;
}

.migalha-pao{
    padding-left: 20px;
    color: black;
}

.cor-migalha{
    color: black;
}
a{
    color: black;
}

.btn-qtd{
    margin-top: 20px;
    margin-left: 120px;
    font-size: 22px;
    margin-bottom: -40px;
    cursor: pointer;
}

.titulo-produto-nome{
    font-size: 20px;
}

.titulo-produto-preco{
    font-size: 20px;
}

