.CardCategoria{
    height: 530px;
}
.CardCategorialink{
    color: black;
    text-decoration: none;
}

.CardCategoria :hover{
    color: black !important;
}

.img-marca {
    padding-bottom: 5px;
    padding: 20px;
}

.cardlink-marca {
    height: 50vh;
}

.cardlink-marca:hover{
    color: 20px gray;
    background-color: gray;
}
