.titulo {
    color     : black;
    margin-top: 20px;
}

h1 {
    font-family: Arial;
    color: black
}

#subtitulo {
    color     : black;
    margin-top: 5px;
}


textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
    width             : 100%;
    height            : 70%;
}

.assunto {
    width: 30%;

}


.apoio {
  background-color: #8D733F;
  color: #fff;
  font-weight: bold;
    padding: 10px 20px;
    margin-top:10px;
    margin-right: 10px;
    text-transform: uppercase;
    border:none;
    text-decoration: none;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.enviar{
  background-color: #4B4A42;
  color: #fff;
  font-weight: bold;
    padding: 10px 20px;
    margin-top:10px;
    margin-right: 10px;
    text-transform: uppercase;
    border:none;
    text-decoration: none;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
