.formulario-contato{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue' !important;
  


}

.form-control{
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue' !important;

}

.titulo {
  color     : black;
  margin-top: 20px;
}

.p-nome{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue' !important;
 
}
#subtitulo {
  color     : black;
  margin-top: 5px;
  margin-left: 30px;
}

.mensagem-form{
  height: 120px;
}


textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing   : border-box;
  box-sizing        : border-box;
  width             : 100%;
  height            : 70%;
}

.assunto {
  width: 30%;

}


.apoio-form {
  background-color: #8D733F;
  color: #fff;
  font-weight: bold;
    padding: 10px 30px;
    margin-top:10px;
    margin-left: -75px;
    text-transform: uppercase;
    border:none;
    text-decoration: none;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .enviar{
  background-color: #4B4A42;
  color: #fff;
  font-weight: bold;
    padding: 10px 30px;
    position: relative;
    margin-top: -43px;
    margin-left: 75px;
    text-transform: uppercase;
    border:none;
    text-decoration: none;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  
  .apoio-form:hover {
    background-color: #8D733F;
    color: #fff;
    font-weight: bold;
      padding: 10px 30px;
      margin-top:10px;
      margin-left: -75px;
      text-transform: uppercase;
      border:none;
      text-decoration: none;
      display: inline-block;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .enviar:hover{
    background-color: #4B4A42;
    color: #fff;
    font-weight: bold;
      padding: 10px 30px;
      margin-top: -43px;
      text-transform: uppercase;
      border:none;
      text-decoration: none;
      display: flex;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }  


.buttonform{

padding-right: 50px;
display: flex;

}

  .dados-form{
  align-items: center;
  }

  
